---
import '../index.css'

import { css } from 'styled-system/css'; 
import { container } from 'styled-system/patterns';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/08-FEM_interactive-comments-section/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<slot class={ css({ backgroundColor: 'gray.500' }) }/>
	</body>
</html>